.edit-php.post-type-voie .alignleft.actions:not(.bulkactions), .edit-php.post-type-instructeur .alignleft.actions:not(.bulkactions), .edit-php.post-type-contact .alignleft.actions:not(.bulkactions) {
  display: none;
}
.edit-php.post-type-lieu #filter-by-date {
  display: none;
}
.edit-php.post-type-post #wpseo-filter,
.edit-php.post-type-post #wpseo-readability-filter, .edit-php.post-type-page #wpseo-filter,
.edit-php.post-type-page #wpseo-readability-filter, .edit-php.post-type-lieu #wpseo-filter,
.edit-php.post-type-lieu #wpseo-readability-filter, .edit-php.post-type-conference #wpseo-filter,
.edit-php.post-type-conference #wpseo-readability-filter, .edit-php.post-type-formation #wpseo-filter,
.edit-php.post-type-formation #wpseo-readability-filter, .edit-php.post-type-stage #wpseo-filter,
.edit-php.post-type-stage #wpseo-readability-filter {
  display: none;
}
.edit-php.post-type-conference .column-session,
.edit-php.post-type-conference .column-date_du,
.edit-php.post-type-conference .column-date_au,
.edit-php.post-type-conference .column-e_date, .edit-php.post-type-formation .column-session,
.edit-php.post-type-formation .column-date_du,
.edit-php.post-type-formation .column-date_au,
.edit-php.post-type-formation .column-e_date, .edit-php.post-type-stage .column-session,
.edit-php.post-type-stage .column-date_du,
.edit-php.post-type-stage .column-date_au,
.edit-php.post-type-stage .column-e_date {
  width: 10%;
}
.edit-php.post-type-conference .column-author, .edit-php.post-type-formation .column-author, .edit-php.post-type-stage .column-author {
  width: 20%;
}

.post-new-php #informations .inside,
.post-php #informations .inside {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.post-new-php #informations .inside fieldset,
.post-php #informations .inside fieldset {
  padding: 12px;
  border: 1px solid #dcdcde;
}
.post-new-php #informations .inside fieldset h3,
.post-php #informations .inside fieldset h3 {
  margin: 0;
}
.post-new-php #informations .inside fieldset label:not(.map label, .taxonomy label),
.post-php #informations .inside fieldset label:not(.map label, .taxonomy label) {
  display: block;
  margin: 10px 0;
}
.post-new-php #informations .inside fieldset label:not(.map label, .taxonomy label):not(.radio label),
.post-php #informations .inside fieldset label:not(.map label, .taxonomy label):not(.radio label) {
  font-weight: bold;
}
.post-new-php #informations .inside fieldset input:not([type=radio], .map input, .taxonomy input),
.post-new-php #informations .inside fieldset select:not(.taxonomy select),
.post-php #informations .inside fieldset input:not([type=radio], .map input, .taxonomy input),
.post-php #informations .inside fieldset select:not(.taxonomy select) {
  display: block;
  width: 100%;
}
.post-new-php #informations .inside fieldset input[type=number],
.post-php #informations .inside fieldset input[type=number] {
  text-align: right;
}
.post-new-php #informations .inside fieldset input[type=number]::-webkit-outer-spin-button, .post-new-php #informations .inside fieldset input[type=number]::-webkit-inner-spin-button,
.post-php #informations .inside fieldset input[type=number]::-webkit-outer-spin-button,
.post-php #informations .inside fieldset input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.post-new-php #informations .inside fieldset #geo_zone-tabs,
.post-new-php #informations .inside fieldset #geo_zone-pop,
.post-new-php #informations .inside fieldset #stage_categorie-tabs,
.post-new-php #informations .inside fieldset #stage_categorie-pop,
.post-new-php #informations .inside fieldset #prerequis-tabs,
.post-new-php #informations .inside fieldset #prerequis-pop,
.post-php #informations .inside fieldset #geo_zone-tabs,
.post-php #informations .inside fieldset #geo_zone-pop,
.post-php #informations .inside fieldset #stage_categorie-tabs,
.post-php #informations .inside fieldset #stage_categorie-pop,
.post-php #informations .inside fieldset #prerequis-tabs,
.post-php #informations .inside fieldset #prerequis-pop {
  display: none;
}
.post-new-php #informations .inside fieldset #geo_zone-all,
.post-new-php #informations .inside fieldset #stage_categorie-all,
.post-new-php #informations .inside fieldset #prerequis-all,
.post-php #informations .inside fieldset #geo_zone-all,
.post-php #informations .inside fieldset #stage_categorie-all,
.post-php #informations .inside fieldset #prerequis-all {
  display: block;
}
.post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)),
.post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) {
  width: min(100vw - 74px, 300px);
  height: 100%;
  margin: auto;
}
.post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader,
.post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image,
.post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image:has(img),
.post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image:has(img) {
  height: 100%;
}
.post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image img,
.post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image img {
  width: min(100vw - 74px, 300px);
  max-width: fit-content;
  height: auto;
  max-height: 300px;
  border: 1px solid #dcdcde;
}
.post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .buttons,
.post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}
.post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .buttons .delete_image_button,
.post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .buttons .delete_image_button {
  color: #b32d2e;
}
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)),
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG,
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap,
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container,
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24,
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)),
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG,
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap,
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container,
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 {
  height: 100%;
}
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body,
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31,
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31 {
  flex: auto;
}
.post-new-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31 #content_ifr,
.post-php #informations .inside fieldset div:has(.WYSIWYG:not(.modal-outer .WYSIWYG)) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31 #content_ifr {
  height: 100%;
}
.post-new-php #informations .inside fieldset .taxonomy-add-new,
.post-php #informations .inside fieldset .taxonomy-add-new {
  text-decoration: underline;
  cursor: pointer;
}
.post-new-php #informations .inside fieldset .modal-outer,
.post-php #informations .inside fieldset .modal-outer {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 159900;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner,
.post-php #informations .inside fieldset .modal-outer .modal-inner {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 200px);
  max-height: calc(100% - 60px);
  padding: 16px;
  background: #ffffff;
  overflow-y: auto;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner .media-modal-close,
.post-php #informations .inside fieldset .modal-outer .modal-inner .media-modal-close {
  position: absolute;
  top: 0;
  right: 0;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner #titlediv,
.post-php #informations .inside fieldset .modal-outer .modal-inner #titlediv {
  width: calc(100% - 34px);
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner #titlediv .title,
.post-php #informations .inside fieldset .modal-outer .modal-inner #titlediv .title {
  width: 100%;
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner .quick-add-post.button,
.post-php #informations .inside fieldset .modal-outer .modal-inner .quick-add-post.button {
  width: 100%;
  text-align: center;
  margin-top: 12px;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader),
.post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) {
  width: min(100vw - 74px, 300px);
  height: 100%;
  margin: auto;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader,
.post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image,
.post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image:has(img),
.post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image:has(img) {
  height: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image img,
.post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image img {
  width: min(100vw - 74px, 300px);
  max-width: fit-content;
  height: auto;
  max-height: 300px;
  border: 1px solid #dcdcde;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .buttons,
.post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .buttons .delete_image_button,
.post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .buttons .delete_image_button {
  color: #b32d2e;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG),
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG,
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap,
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container,
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24,
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG),
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG,
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap,
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container,
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 {
  height: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body,
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31,
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31 {
  flex: auto;
}
.post-new-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31 #content_ifr,
.post-php #informations .inside fieldset .modal-outer .modal-inner fieldset div:has(.WYSIWYG) .WYSIWYG #wp-content-wrap #wp-content-editor-container #mceu_24 #mceu_24-body #mceu_31 #content_ifr {
  height: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite,
.post-php #informations .inside fieldset .modal-outer.lieu #localite {
  width: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy {
  width: calc(50% - 6px);
  flex: auto;
  height: 300px;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel {
  flex: auto;
  max-height: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) > .selectit input,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) > .selectit input {
  border: none;
  border-radius: 0;
  background: url("../../images/chevron-down.svg");
  background-position: 50%;
  box-shadow: none;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input {
  background: url("../../images/chevron-up.svg");
  background-position: 50%;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input::before,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input::before {
  border-radius: 0;
  background: none;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) .children,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) .children {
  display: none;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv div.wp-hidden-children .category-add,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv div.wp-hidden-children .category-add {
  display: none;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .category-add,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .category-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .map,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .map {
  width: calc(50% - 6px);
  flex: auto;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .map #map,
.post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .map #map {
  width: 100%;
  height: 300px;
  border: solid 1px #dcdcde;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #photo,
.post-php #informations .inside fieldset .modal-outer.lieu #photo {
  flex: auto;
}
.post-new-php #informations .inside fieldset .modal-outer.lieu #description,
.post-php #informations .inside fieldset .modal-outer.lieu #description {
  flex: auto;
  width: max(50% - 53.6px, 100% - 364px);
}
.post-new-php #informations .inside fieldset .modal-outer.contact #nom,
.post-php #informations .inside fieldset .modal-outer.contact #nom {
  width: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer.contact #coordonnees,
.post-php #informations .inside fieldset .modal-outer.contact #coordonnees {
  width: 100%;
}
.post-new-php #informations .inside fieldset .modal-outer.contact #coordonnees .coordonnees,
.post-php #informations .inside fieldset .modal-outer.contact #coordonnees .coordonnees {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.post-new-php #informations .inside fieldset .modal-outer.contact #coordonnees .coordonnees div,
.post-php #informations .inside fieldset .modal-outer.contact #coordonnees .coordonnees div {
  flex: 1;
}
.post-new-php.post-type-instructeur #informations .inside fieldset#portrait,
.post-php.post-type-instructeur #informations .inside fieldset#portrait {
  flex: auto;
}
.post-new-php.post-type-instructeur #informations .inside fieldset#biographie,
.post-php.post-type-instructeur #informations .inside fieldset#biographie {
  flex: auto;
  width: max(50% - 31.5px, 100% - 364px);
}
.post-new-php.post-type-instructeur #informations .inside fieldset#informations-avancees,
.post-php.post-type-instructeur #informations .inside fieldset#informations-avancees {
  width: calc(50% - 31.6px);
  flex: auto;
}
.post-new-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees,
.post-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}
.post-new-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .author,
.post-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .author {
  width: 100%;
}
.post-new-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .i_fonction,
.post-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .i_fonction {
  flex: auto;
}
.post-new-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .i_ordre,
.post-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .i_ordre {
  width: auto;
}
.post-new-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .i_ordre input,
.post-php.post-type-instructeur #informations .inside fieldset#informations-avancees .informations-avancees .i_ordre input {
  width: 63px;
}
.post-new-php.post-type-instructeur #informations .inside:not(:has(#informations-avancees)) #coordonnees,
.post-php.post-type-instructeur #informations .inside:not(:has(#informations-avancees)) #coordonnees {
  width: 100%;
  flex: auto !important;
}
.post-new-php.post-type-instructeur #informations .inside:not(:has(#informations-avancees)) #coordonnees .coordonnees,
.post-php.post-type-instructeur #informations .inside:not(:has(#informations-avancees)) #coordonnees .coordonnees {
  width: 100%;
  display: flex;
  gap: 10px;
}
.post-new-php.post-type-instructeur #informations .inside:not(:has(#informations-avancees)) #coordonnees .coordonnees div,
.post-php.post-type-instructeur #informations .inside:not(:has(#informations-avancees)) #coordonnees .coordonnees div {
  flex: 1;
}
.post-new-php.post-type-lieu #informations .inside #localite,
.post-php.post-type-lieu #informations .inside #localite {
  width: 100%;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite,
.post-php.post-type-lieu #informations .inside #localite .localite {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy {
  width: calc(50% - 6px);
  flex: auto;
  height: 300px;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel {
  flex: auto;
  max-height: 100%;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) > .selectit input,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) > .selectit input {
  border: none;
  border-radius: 0;
  background: url("../../images/chevron-down.svg");
  background-position: 50%;
  box-shadow: none;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input {
  background: url("../../images/chevron-up.svg");
  background-position: 50%;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input::before,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children):has(input:checked) > .selectit input::before {
  border-radius: 0;
  background: none;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) .children,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .tabs-panel li:has(.children) .children {
  display: none;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv div.wp-hidden-children .category-add,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv div.wp-hidden-children .category-add {
  display: none;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .category-add,
.post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .category-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .map,
.post-php.post-type-lieu #informations .inside #localite .localite .map {
  width: calc(50% - 6px);
  flex: auto;
}
.post-new-php.post-type-lieu #informations .inside #localite .localite .map #map,
.post-php.post-type-lieu #informations .inside #localite .localite .map #map {
  width: 100%;
  height: 300px;
  border: solid 1px #dcdcde;
}
.post-new-php.post-type-lieu #informations .inside #photo,
.post-php.post-type-lieu #informations .inside #photo {
  flex: auto;
}
.post-new-php.post-type-lieu #informations .inside #description,
.post-php.post-type-lieu #informations .inside #description {
  flex: auto;
  width: max(50% - 31.5px, 100% - 364px);
}
.post-new-php.post-type-contact #informations .inside #nom,
.post-php.post-type-contact #informations .inside #nom {
  width: 100%;
}
.post-new-php.post-type-contact #informations .inside #coordonnees,
.post-php.post-type-contact #informations .inside #coordonnees {
  width: 100%;
}
.post-new-php.post-type-contact #informations .inside #coordonnees .coordonnees,
.post-php.post-type-contact #informations .inside #coordonnees .coordonnees {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.post-new-php.post-type-contact #informations .inside #coordonnees .coordonnees div,
.post-php.post-type-contact #informations .inside #coordonnees .coordonnees div {
  flex: 1;
}
.post-new-php.post-type-conference #informations .inside, .post-new-php.post-type-formation #informations .inside, .post-new-php.post-type-stage #informations .inside,
.post-php.post-type-conference #informations .inside,
.post-php.post-type-formation #informations .inside,
.post-php.post-type-stage #informations .inside {
  display: grid;
  gap: 12px;
}
.post-new-php.post-type-conference #informations .inside fieldset, .post-new-php.post-type-formation #informations .inside fieldset, .post-new-php.post-type-stage #informations .inside fieldset,
.post-php.post-type-conference #informations .inside fieldset,
.post-php.post-type-formation #informations .inside fieldset,
.post-php.post-type-stage #informations .inside fieldset {
  display: flex;
  flex-direction: column;
}
.post-new-php.post-type-conference #informations .inside fieldset#dates .dates, .post-new-php.post-type-formation #informations .inside fieldset#dates .dates, .post-new-php.post-type-stage #informations .inside fieldset#dates .dates,
.post-php.post-type-conference #informations .inside fieldset#dates .dates,
.post-php.post-type-formation #informations .inside fieldset#dates .dates,
.post-php.post-type-stage #informations .inside fieldset#dates .dates {
  display: flex;
  gap: 12px;
}
.post-new-php.post-type-conference #informations .inside fieldset#dates .dates div:not(.e_session), .post-new-php.post-type-formation #informations .inside fieldset#dates .dates div:not(.e_session), .post-new-php.post-type-stage #informations .inside fieldset#dates .dates div:not(.e_session),
.post-php.post-type-conference #informations .inside fieldset#dates .dates div:not(.e_session),
.post-php.post-type-formation #informations .inside fieldset#dates .dates div:not(.e_session),
.post-php.post-type-stage #informations .inside fieldset#dates .dates div:not(.e_session) {
  flex: 1;
}
.post-new-php.post-type-conference #informations .inside fieldset#lieu, .post-new-php.post-type-formation #informations .inside fieldset#lieu, .post-new-php.post-type-stage #informations .inside fieldset#lieu,
.post-php.post-type-conference #informations .inside fieldset#lieu,
.post-php.post-type-formation #informations .inside fieldset#lieu,
.post-php.post-type-stage #informations .inside fieldset#lieu {
  justify-content: center;
}
.post-new-php.post-type-conference #informations .inside fieldset#lieu > .lieu, .post-new-php.post-type-formation #informations .inside fieldset#lieu > .lieu, .post-new-php.post-type-stage #informations .inside fieldset#lieu > .lieu,
.post-php.post-type-conference #informations .inside fieldset#lieu > .lieu,
.post-php.post-type-formation #informations .inside fieldset#lieu > .lieu,
.post-php.post-type-stage #informations .inside fieldset#lieu > .lieu {
  margin-top: 38.2px;
}
.post-new-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees, .post-new-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees, .post-new-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees,
.post-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees,
.post-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees,
.post-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees {
  display: flex;
  gap: 12px;
}
.post-new-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees .e_coordonnees, .post-new-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees .e_coordonnees, .post-new-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees .e_coordonnees,
.post-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees .e_coordonnees,
.post-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees .e_coordonnees,
.post-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees .e_coordonnees {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-new-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees .e_autre_instructeur,
.post-new-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees div.select.contact, .post-new-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees .e_autre_instructeur,
.post-new-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees div.select.contact, .post-new-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees .e_autre_instructeur,
.post-new-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees div.select.contact,
.post-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees .e_autre_instructeur,
.post-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees div.select.contact,
.post-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees .e_autre_instructeur,
.post-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees div.select.contact,
.post-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees .e_autre_instructeur,
.post-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees div.select.contact {
  flex: auto;
  height: fit-content;
}
.post-new-php.post-type-conference #informations .inside,
.post-php.post-type-conference #informations .inside {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}
.post-new-php.post-type-conference #informations .inside fieldset#dates,
.post-php.post-type-conference #informations .inside fieldset#dates {
  grid-column: 1;
  grid-row: 1;
}
.post-new-php.post-type-conference #informations .inside fieldset#lieu,
.post-php.post-type-conference #informations .inside fieldset#lieu {
  grid-column: 2;
  grid-row: 1;
}
.post-new-php.post-type-conference #informations .inside fieldset#instructeur,
.post-php.post-type-conference #informations .inside fieldset#instructeur {
  grid-column: 1;
  grid-row: 2;
}
.post-new-php.post-type-conference #informations .inside fieldset#instructeur .instructeur,
.post-php.post-type-conference #informations .inside fieldset#instructeur .instructeur {
  margin-top: 38.2px;
}
.post-new-php.post-type-conference #informations .inside fieldset#coordonnees,
.post-php.post-type-conference #informations .inside fieldset#coordonnees {
  grid-column: 2;
  grid-row: 2;
}
.post-new-php.post-type-conference #informations .inside fieldset#informations-complementaires,
.post-php.post-type-conference #informations .inside fieldset#informations-complementaires {
  grid-column: 1/3;
  grid-row: 3;
}
.post-new-php.post-type-formation #informations .inside, .post-new-php.post-type-stage #informations .inside,
.post-php.post-type-formation #informations .inside,
.post-php.post-type-stage #informations .inside {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
}
.post-new-php.post-type-formation #informations .inside fieldset#voie, .post-new-php.post-type-stage #informations .inside fieldset#voie,
.post-php.post-type-formation #informations .inside fieldset#voie,
.post-php.post-type-stage #informations .inside fieldset#voie {
  grid-column: 1/3;
  grid-row: 1;
  justify-content: center;
}
.post-new-php.post-type-formation #informations .inside fieldset#instructeur, .post-new-php.post-type-stage #informations .inside fieldset#instructeur,
.post-php.post-type-formation #informations .inside fieldset#instructeur,
.post-php.post-type-stage #informations .inside fieldset#instructeur {
  grid-column: 1;
  grid-row: 3;
}
.post-new-php.post-type-formation #informations .inside fieldset#coordonnees, .post-new-php.post-type-stage #informations .inside fieldset#coordonnees,
.post-php.post-type-formation #informations .inside fieldset#coordonnees,
.post-php.post-type-stage #informations .inside fieldset#coordonnees {
  grid-column: 1;
  grid-row: 4;
}
.post-new-php.post-type-formation #informations .inside fieldset#prerequis, .post-new-php.post-type-stage #informations .inside fieldset#prerequis,
.post-php.post-type-formation #informations .inside fieldset#prerequis,
.post-php.post-type-stage #informations .inside fieldset#prerequis {
  grid-column: 2;
  grid-row: 3/5;
}
.post-new-php.post-type-formation #informations .inside fieldset#dates, .post-new-php.post-type-stage #informations .inside fieldset#dates,
.post-php.post-type-formation #informations .inside fieldset#dates,
.post-php.post-type-stage #informations .inside fieldset#dates {
  grid-column: 1;
  grid-row: 2;
}
.post-new-php.post-type-formation #informations .inside fieldset#dates .dates .e_session, .post-new-php.post-type-stage #informations .inside fieldset#dates .dates .e_session,
.post-php.post-type-formation #informations .inside fieldset#dates .dates .e_session,
.post-php.post-type-stage #informations .inside fieldset#dates .dates .e_session {
  width: fit-content;
}
.post-new-php.post-type-formation #informations .inside fieldset#dates .dates .e_session input, .post-new-php.post-type-stage #informations .inside fieldset#dates .dates .e_session input,
.post-php.post-type-formation #informations .inside fieldset#dates .dates .e_session input,
.post-php.post-type-stage #informations .inside fieldset#dates .dates .e_session input {
  width: 63px;
}
.post-new-php.post-type-formation #informations .inside fieldset#lieu, .post-new-php.post-type-stage #informations .inside fieldset#lieu,
.post-php.post-type-formation #informations .inside fieldset#lieu,
.post-php.post-type-stage #informations .inside fieldset#lieu {
  grid-column: 2;
  grid-row: 2;
}
.post-new-php.post-type-formation #informations .inside fieldset#informations-complementaires, .post-new-php.post-type-stage #informations .inside fieldset#informations-complementaires,
.post-php.post-type-formation #informations .inside fieldset#informations-complementaires,
.post-php.post-type-stage #informations .inside fieldset#informations-complementaires {
  grid-column: 1/3;
  grid-row: 5;
}
.post-new-php.post-type-stage #informations .inside fieldset#categorie,
.post-php.post-type-stage #informations .inside fieldset#categorie {
  grid-column: 1;
  grid-row: 1;
}
.post-new-php.post-type-stage #informations .inside fieldset#voie,
.post-php.post-type-stage #informations .inside fieldset#voie {
  grid-column: 2;
}

@media screen and (max-width: 960px) {
  .post-new-php #informations .inside fieldset .modal-outer .modal-inner,
  .post-php #informations .inside fieldset .modal-outer .modal-inner {
    width: calc(100% - 76px);
  }
}
@media screen and (max-width: 782px) {
  .post-new-php #informations .inside fieldset .modal-outer .modal-inner,
  .post-php #informations .inside fieldset .modal-outer .modal-inner {
    width: calc(100% - 60px);
  }
  .post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .category-add *,
  .post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy .categorydiv .category-add * {
    margin: 0;
  }
  .post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .category-add *,
  .post-php.post-type-lieu #informations .inside #localite .localite .taxonomy .categorydiv .category-add * {
    margin: 0;
  }
  .wp-list-table th#thumbnail,
  .wp-list-table tr:not(.inline-edit-row):not(.no-items) td.thumbnail {
    display: none;
  }
}
@media screen and (max-width: 711px) {
  .post-new-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image,
  .post-php #informations .inside fieldset div:has(.media-library-uploader:not(.modal-outer .media-library-uploader)) .media-library-uploader .preview_image {
    height: auto;
  }
  .post-new-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image,
  .post-php #informations .inside fieldset .modal-outer .modal-inner div:has(.media-library-uploader) .media-library-uploader .preview_image {
    height: auto;
  }
  .post-new-php #informations .inside fieldset .modal-outer.lieu #localite,
  .post-php #informations .inside fieldset .modal-outer.lieu #localite {
    width: 100%;
  }
  .post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy,
  .post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .taxonomy {
    width: 100%;
    flex: auto;
    height: auto;
    max-height: 300px;
  }
  .post-new-php #informations .inside fieldset .modal-outer.lieu #localite .localite .map,
  .post-php #informations .inside fieldset .modal-outer.lieu #localite .localite .map {
    width: 100%;
  }
  .post-new-php.post-type-instructeur #informations .inside fieldset#coordonnees, .post-new-php.post-type-instructeur #informations .inside fieldset#informations-avancees,
  .post-php.post-type-instructeur #informations .inside fieldset#coordonnees,
  .post-php.post-type-instructeur #informations .inside fieldset#informations-avancees {
    width: 100%;
  }
  .post-new-php.post-type-lieu #informations .inside #localite .localite .taxonomy,
  .post-php.post-type-lieu #informations .inside #localite .localite .taxonomy {
    width: 100%;
    flex: auto;
    height: auto;
    max-height: 300px;
  }
  .post-new-php.post-type-lieu #informations .inside #localite .localite .map,
  .post-php.post-type-lieu #informations .inside #localite .localite .map {
    width: 100%;
  }
  .post-new-php.post-type-conference #informations .inside, .post-new-php.post-type-formation #informations .inside, .post-new-php.post-type-stage #informations .inside,
  .post-php.post-type-conference #informations .inside,
  .post-php.post-type-formation #informations .inside,
  .post-php.post-type-stage #informations .inside {
    display: flex;
    flex-direction: column;
  }
  .post-new-php.post-type-conference #informations .inside fieldset#lieu > .lieu, .post-new-php.post-type-conference #informations .inside fieldset#instructeur .instructeur, .post-new-php.post-type-formation #informations .inside fieldset#lieu > .lieu, .post-new-php.post-type-formation #informations .inside fieldset#instructeur .instructeur, .post-new-php.post-type-stage #informations .inside fieldset#lieu > .lieu, .post-new-php.post-type-stage #informations .inside fieldset#instructeur .instructeur,
  .post-php.post-type-conference #informations .inside fieldset#lieu > .lieu,
  .post-php.post-type-conference #informations .inside fieldset#instructeur .instructeur,
  .post-php.post-type-formation #informations .inside fieldset#lieu > .lieu,
  .post-php.post-type-formation #informations .inside fieldset#instructeur .instructeur,
  .post-php.post-type-stage #informations .inside fieldset#lieu > .lieu,
  .post-php.post-type-stage #informations .inside fieldset#instructeur .instructeur {
    margin-top: 0;
  }
}
@media screen and (max-width: 670px) {
  .post-new-php #informations .inside fieldset .modal-outer.contact #coordonnees .coordonnees div,
  .post-php #informations .inside fieldset .modal-outer.contact #coordonnees .coordonnees div {
    width: 100%;
    flex: auto;
  }
  .post-new-php.post-type-contact #informations .inside #coordonnees .coordonnees div,
  .post-php.post-type-contact #informations .inside #coordonnees .coordonnees div {
    width: 100%;
    flex: auto;
  }
}
@media screen and (max-width: 640px) {
  .post-new-php #informations .inside fieldset .modal-outer .modal-inner,
  .post-php #informations .inside fieldset .modal-outer .modal-inner {
    width: 100%;
    max-height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .post-new-php.post-type-formation #informations .inside fieldset#dates .dates,
  .post-php.post-type-formation #informations .inside fieldset#dates .dates {
    display: block;
  }
  .post-new-php.post-type-formation #informations .inside fieldset#dates .dates div,
  .post-php.post-type-formation #informations .inside fieldset#dates .dates div {
    width: 100%;
  }
  .post-new-php.post-type-formation #informations .inside fieldset#dates .dates div.e_session,
  .post-php.post-type-formation #informations .inside fieldset#dates .dates div.e_session {
    width: 100%;
  }
  .post-new-php.post-type-formation #informations .inside fieldset#dates .dates div.e_session input,
  .post-php.post-type-formation #informations .inside fieldset#dates .dates div.e_session input {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .post-new-php.post-type-instructeur #informations .inside #informations-avancees .informations-avancees .i_ordre,
  .post-php.post-type-instructeur #informations .inside #informations-avancees .informations-avancees .i_ordre {
    width: 100%;
  }
  .post-new-php.post-type-instructeur #informations .inside #informations-avancees .informations-avancees .i_ordre input,
  .post-php.post-type-instructeur #informations .inside #informations-avancees .informations-avancees .i_ordre input {
    width: 100%;
  }
  .post-new-php.post-type-conference #informations .inside fieldset#dates .dates, .post-new-php.post-type-formation #informations .inside fieldset#dates .dates, .post-new-php.post-type-stage #informations .inside fieldset#dates .dates,
  .post-php.post-type-conference #informations .inside fieldset#dates .dates,
  .post-php.post-type-formation #informations .inside fieldset#dates .dates,
  .post-php.post-type-stage #informations .inside fieldset#dates .dates {
    display: block;
  }
  .post-new-php.post-type-conference #informations .inside fieldset#dates .dates div, .post-new-php.post-type-formation #informations .inside fieldset#dates .dates div, .post-new-php.post-type-stage #informations .inside fieldset#dates .dates div,
  .post-php.post-type-conference #informations .inside fieldset#dates .dates div,
  .post-php.post-type-formation #informations .inside fieldset#dates .dates div,
  .post-php.post-type-stage #informations .inside fieldset#dates .dates div {
    width: 100%;
  }
  .post-new-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees, .post-new-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees, .post-new-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees,
  .post-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees,
  .post-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees,
  .post-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees {
    display: block;
  }
  .post-new-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees div, .post-new-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees div, .post-new-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees div,
  .post-php.post-type-conference #informations .inside fieldset#coordonnees .coordonnees div,
  .post-php.post-type-formation #informations .inside fieldset#coordonnees .coordonnees div,
  .post-php.post-type-stage #informations .inside fieldset#coordonnees .coordonnees div {
    width: 100%;
  }
}

/*# sourceMappingURL=admin-style.css.map */
